@media screen and (max-width: 1024px) {
.conteiner {
max-width: 728px;

}
.Oh_yes_my_daddy{
    position: relative;
    width: 100%;
    overflow: hidden;
}


/* Header */

.header {
    width: 100%;
}

/* КНОПОЧКИ */
.nav {
    position: absolute;
    right: -326px;
    top: 10px;
    z-index: 2;
    width: 336px;
    height: 570px;
    background-color: #000000;
    justify-content: center;
    visibility: hidden;
    transition: transform .5s, visibility .5s;
}

.ul {
    display: block;
    margin: 100px 0;
    text-align: center;
}
.li_style {
    margin-bottom: 30px;
    margin-right: 0px;
    justify-content: center;
}
.a_style {
    display: block;
}

.hamburger {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
}
.burg_butt {
display: block;
margin-top: 19px;
margin-right: -148px;
}
.burg_butty {
display: block;
margin-right: 37px;
margin-top: 20px;
}

.header.open .nav {
    transform: translateX(-100%);
    visibility: visible;
}

.burg_butt:hover {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px #ee900c);
}
.burg_butt {
    transition: 0.3s;
}
.burg_butty:hover {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    filter: drop-shadow(0px 0px 15px #ee900c);
}
.burg_butty {
    transition: 0.3s;
}
/* ВЕРХУ КНОПОЧКИ */
.h_1 {
    margin-right: 321px;
}

.header_block {
    justify-content: start;
}

.burger {
    margin-left: 40px;
    display: inline-block;

}
.burger:hover {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    filter: drop-shadow(0px 0px 15px #ee900c);
}
.burger {
    transition: 0.3s;
}

.Welcome {
    box-sizing: border-box;
    flex-shrink: 0;
    background-image: url(../img/smallWElcome.png);
    height: 600px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    
    
}
/* About */

.about_h::before {
    content: '';
    position: absolute;
    left: 340px;
    top: 60px;
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
}

.about_description {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}


.img_main_two {
    display: none;
}
.img_main_three {
    display: none;
}

.arrow_one {
    display: inline-block;
    margin-top: 47px;
    /* margin-left: 76px; */
}
.arrow_two {
    display: inline-block;
    margin-top: 47px;
    /* margin-right: 76px; */
}
.img_main_one {
    margin: 0px;
    margin-right: 46px;
    margin-left: 46px;
}

.img_main {
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    /* width: 728px; */
    margin-bottom: 21px;
}

.button-fe, .button-fer {
    display: inline-block;
}

.button-fe {
    background-color: #BB945F;
}

.button_one {
    background-color: #0C0C0E;
}


/* Favorite */

.fav::before {
    content: '';
    position: absolute;
     left: 340px;
    top: 62px;
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
}

.Staffs_books:nth-child(1),
.Staffs_books:nth-child(3) {
    margin-right: 0px;
}

.books_for_my_life {
    margin-left: 9%;
    margin-top: 5%;
}

.Staffs_books {
    margin-bottom: 39px;
}
.Staffs_books:last-child {
    margin-bottom: 0px;
}




/*Coffe Shop */

.Coffe:before {
    content: '';
    position: absolute;
    left: 339px;
    top: 119px;
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
}

.coffy_coze {
    width: 100%;
}


.Coffee_and_Cakes {
    display: flex;
    
    flex-wrap: wrap;
}

.Cakes {
    margin-left: 247px;
    margin-top: 42px;
}

/* Our Cont */

.Our_Contacts::before {
    content: '';
    position: absolute;
    left: 340px;
    top: 60px;
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
}

.maps {
    position: absolute;
    right: 35px;
    top: 581px;
}

.Contacts_allll {
    margin-bottom: 574px
}

.Digital_Library_Cards::before {
    content: '';
    position: absolute;
    left: 340px;
    top: 61px;
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
}

.bro_ido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Get_a {
    flex-basis: 600px;
    text-align: center;
    width: 456px;
}
.Get_reader_card {
    margin-bottom: 41px;
    text-align: center;
    color: #000;
    font-family: 'Forum';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}
.You_will {
    margin-bottom: 39px;
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.4px;
}

.all_for {
    margin-bottom: 21px;
}
.mememes_i {
    margin-left: 85px;
}


.footer {
    width: 100%;
    height: 256px
}

.obz:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 138px;
    background-color: #ffffff;
    width: 100%;
    height: 1px;
    /* width: calc(100vw - 40px); */
}


}
@media screen and (max-width: 740px) {
    .books_for_my_life {
        margin-left: 6%;
        margin-top: 5%;
    }
    .coffy_coze {
        width: 100%;
    }
    .Cakes {
        margin-left: 150px;
        margin-top: 42px;
    }
  }

@media only screen and (max-width: 1439px) and (min-width: 741px)  {
    .header {
        width: 100%;
    }
    .Welcome {
        width: 100%;
    }
    .footer {
        width: 100%;
    }
    .img_main_three {
        display: none;
    }
    .obz:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 140px;
        background-color: #ffffff;
        width: 100%;
        height: 1px;
    }
    .Staffs_books:nth-child(1), .Staffs_books:nth-child(3) {
        margin-right: 100px;
    }
    .Staffs_books {
        margin-right: 50px;
    }
    .Staffs_books {
        margin-right: 50px;
    }
}
